html {
    height: 100%;
}

body {
    background-color   : #2f3035;
    background-image   : url('./images/nerfee-mirandilla-V8-WiXIoYOU-unsplash.jpg');
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-left : auto;
    margin-right: auto;
    width       : 1024px;
}

header {
    height    : 118px;
    text-align: left;
    padding: 0 50px;
}

nav {
    text-align       : center;
    background-color : rgba(0, 0, 0, 0.338);
    border-radius    : 50px;
    padding-top: 14px;
    padding-bottom   : 14px;
    /* display       : flex;
    justify-content  : space-around;  */
     /* background-color: rgba(144, 238, 144, 0.301);*/
}

main {
    height     : 390px;
    text-align : center;
    padding    : 40px 240px 40px 240px;
    margin: 20px 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.637);
    margin: 10px 0;
    padding: 10px 0;
}

h1 {
    font-size: 76px;
    color    : white;
    margin: 35px 0;
}

input{
    background-color: rgba(0, 0, 0, 0.637);
    outline: none;
    border: none;
    width: 500px;
    height: 30px;
    color: white;
    border-radius: 50px;
    padding: 5px 10px;
    text-align: center;
}

p {
    font-size: 18px;
    color    : white;
    margin: 30px;
}

input:hover{
    text-shadow:  0 0 40px green;
}

main a {
    /* text-decoration: none; */
    color      : white;
    font-size  : 18px;
    transition : all 0.3s ease;
    border     : transparent;
    padding    : 10px;
    font-weight: 1000;
}

main a:hover {
    transform    : scale(1.1);
    transition   : all 0.3s ease;
    border       : thin solid green;
    border-radius: 40px;
    font-size    : 21px;
    text-shadow: 0 0 30px green;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 0 10px;
}

footer p{
    color: white    ;
    font-size: 12px;
    text-align: center;
}